*{
    margin: 0;
    padding: 0;
}

.main-container{
    width: 1080px;
    height: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5,1fr);
    gap: 10px;
    grid-template-areas:
    "header header header"
    "side main1 main1"
    "side2 pic pic"
    "empty main2 main2"
    "footer footer footer"

}

header{
    grid-area: header;
    height: 172px;
    width: 1080px;
    border: 2px solid black;
}

.aside1{
    grid-area: side;
}

.aside2{
    grid-area: side2;
}

.main1{
    grid-area: main1;
}

.main2{
    grid-area: main2;
}

.mid-pic{
    grid-area: pic;
}

footer{
    grid-area: footer;
}