*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}

.main-container{
    width: 1340px;
    height: 1200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

header{
    height: 100px;
    width: 1340px;
    background-color: #9fc5f8;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: cursive;
}

h1{
    font-size: 50px;
    margin-bottom: 10px;
}

.body-container{
    width: 900px;
    height: 900px;
    margin: 0px auto;
}



div.header-boxes{
    height: 100px;
    width: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
}

.cities{
    color: white;
    text-decoration: none;
}

nav{
    height: 90px;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
    font-family: cursive;
    font-size: 30px;
}

.temp-scale{
    margin-top: 40px;
    font-size: 20px;
    display: flex;
    align-items: flex-end;
}

select{
    width: 50px;
    padding: 3px;
    height: 30px;
    border: 2px solid black;
    box-shadow: 1px 1px 1px black;
}

main{
    margin-top: 20px;
    display: flex;
    height: 350px;
    gap: 20px;
}

.days{
    height: 350px;
    width: 210px;
    background-color: #eeeeee;
}

.wather-pic{
    width: 200px;
    height: 200px;
    border: white solid 1px;
    border-radius: 50%;
}

.the-day{
height: 50px;
width: 200px;
text-align: center;
font-size: 30px;
}

.the-weather{
    height: 50px;
    width: 200px;
    text-align: center;
    font-size: 25px;
}

.high{
    margin-left: 55px;
    color: #cf2a27;
    font-size: 25px;
    font-weight: bold;
}

.low{
    color:#2b78e4 ;
}

footer{
    width: 898px;
    height: 100px;
    border: 1px solid black;
    box-shadow: 1px 2px 1px black;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 5px;
}

img{
    height: 90px;
    width: 90px;
    margin-left: 5px;
}

button{
    height: 40px;
    width: 150px;
    box-shadow: 1px 1px 1px black;
    background-color: #9fc5f8;
    font-weight: bold;
}

.bottom{
    display: flex;
    flex-direction: column;
    font-size: 17px;
}

a{
    color: #2b78e4;
}